$libraryRed: #E43534;
$libraryBlue: #0095c8;
$headerHeight: 175px;
$headerPaddingR: 70px;
$headerPaddingL: 120px;
$lib-red: #cc1a16;
$lib-blue: #0095c8;
$text-gray: #bfbfbf;
$dark-lib-gray: #776E64;
$staffPicksUrl: 'http://nypl.org/browse/recommendations/staff-picks/';