.ToggleDisplay {
  list-style-type: none;

  li {
    display: inline-block;
  }
}

.PillButton {
  border-radius: 23px;
  border: 2px solid #bfbfbf;
  color: #bfbfbf;
  display: inline-block;
  background-color: white;
  width: 100px;
  padding: 5px 0px;

  .icon {
    padding: 0px 10px 0px 15px;
  }

  &-title {
    display: none;
    font-size: 12px;
    text-transform: uppercase;
  }
}

.view {
  &-grid-icon {
    .icon {
      background: url('#{$staffPicksUrl}src/client/images/icons/SmallBookGray.svg') no-repeat;
    }
  }

  &-list-icon {
    .icon {
      background: url('#{$staffPicksUrl}src/client/images/icons/SmallListIconGray.svg') no-repeat;
    }
  }
}

.filters {
  &.active {
    background-color: #bfbfbf;
    color: #fff;
  }
}
