.filter {
  &-wrapper {
    color: #fff;
    display: none;

    &.active {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #737069;
      z-index: 5;
      display: block;

      @include min-screen(768px) {
        min-height: 450px;
        left: -520px;
        width: 650px;
        top: 50px;
      }

      @include min-screen(1024px) {
        left: -570px;
        width: 720px;
      }
    }

    .submit-buttons {
      width: 100%;
      float: left;
      opacity: 0.5;
      margin-bottom: 30px;

      &.active {
        opacity: 1;
      }

      button {
        background-color: #737069;
        color: #fff;
        border: 2px solid #fff;
        margin: 0 auto;
        display: block;
        font-size: 13px;
        width: 160px;
        height: 40px;
        text-transform: uppercase;

        @include min-screen(768px) {
          display: inline-block;
        }

        svg {
          fill: #fff;
        }

        span {
          vertical-align: 10px;
        }
      }

      .apply {
        margin-bottom: 20px;

        svg {
          margin-right: 15px;
          margin-left: -25px;
        }

        @include min-screen(768px) {
          margin: 0 25px 0 35px;
        }
      }

      .reset {
        svg {
          margin-right: 5px;
          margin-left: -15px;
        }
      }
    }
  }
}

.filterButton {
  @include min-screen(768px) {
    position: relative;
  }
}

.FilterList {
  width: 100%;
  float: left;
  @include Kievit-Regular;
  margin-bottom: 20px;

  .inner {
    padding: 0 20px;

    h3 {
      text-transform: uppercase;
      letter-spacing: 0.06em;
      border-top: 2px solid #fff;
      padding: 15px 0 0 0;
      margin-top: 5px;
      font-size: 14px;
    }
  }

  ul {
    padding: 0;

    li {
      height: 35px;
      font-size: 14px;

      a {
        display: block;
        color: #fff;
        padding: 10px 0 10px 50px;
        text-decoration: none;

        .selected-svgIcon {
          position: relative;
          float: right;
          margin: -5px 40px 0px 0px;
          fill: #fff;

          @include min-screen(768px) {
            margin: -5px 15px 0px 0px;
          }
        }

        @include min-screen(768px) {
          padding-left: 25px;
        }
      }

      &.active {
        background-color: #44433f;
      }
    }
  }

  @include min-screen(768px) {
    width: 25%;
    font-size: 14px;

    .inner {
      padding: 0 15px;

      h3 {
        margin: 30px 0 10px;
      }
    }
  }
}
