.filter {
  &-wrapper {
    display: none;

    &.active {
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background: grey;
      z-index: 5;
      display: block;
    }
  }
}
