.isotopeGrid {
  // @include grid-span(3);
  opacity: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 60px;

  @include min-screen(768px) {
    margin-top: 120px;
  }
}

.book-item {
  width: 150px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  &.noResults {
    display: block;
    width: 100%;
    font-size: 26px;
    margin-top: 20px;
    color: #000;
    @include Kievit-Medium;
    font-weight: normal;

    span {
      border-bottom: 2px solid #000;
      display: inline-block;
      padding-bottom: 15px;
    }
  }

  &.list {
    width: 100%;
    height: auto;
    display: block;
  }

  .noImage {
    height: 100%;
    width: 100%;
  }

  .itemOverlay {
    position: absolute;
    background-color: #54514a;
    opacity: 0.9;
    bottom: 0px;
    width: 100%;
    max-height: 100%;
    display: none;

    h3, p {
      color: #fff;
      padding: 0 15px;
    }

    &.noImage {
      display: block;
      opacity: 1;
      height: 100%;

      h3, p {
        color: #fff;
        padding: 0 15px;
      }

      h3 {
        margin: 0;
        font-size: 22px;
        font-weight: normal;
        @include Kievit-Medium;
        padding-top: 30px;
      }

      .details {
        position: absolute;
        bottom: 0;

        p {
          font-family: Helvetica, Arial;
        }

        .author {
          font-size: 16px;
        }
        .format {
          font-size: 10px;
        }
        .genre {
          text-transform: uppercase;
          font-size: 12px;
        }
      }
    }

    .details {
      margin: 10px 0;

      p {
        font-family: Helvetica, Arial;
      }

      svg {
        overflow: hidden;
        vertical-align: -13px;
        margin-left: -5px;
        padding: 0px;
        fill: #fff;
        stroke: #fff;
      }

      .author {
        font-size: 16px;
      }
      .format {
        margin: 0;
        font-size: 10px;
      }
      .genre {
        text-transform: uppercase;
        font-size: 12px;
      }
    }

    p {
      margin: 5px 0 0 0;
    }
    h3 {
      padding-top: 30px;
      margin: 0;
    }
  }

  a {
    text-decoration: none;
  }

  img {
    width: 150px;
    max-height: 250px;
  }

  h2 {
    color: #1da1d4;
    @include Kievit-Medium;
    font-weight: normal;
    margin-bottom: 0px;
  }

  p {
    color: #9c9890;
    margin: 10px;
    @include Helvetica;
  }

  @include min-screen(768px) {
    width: 175px;
    height: 280px;
    margin-right: 10px;

    img {
      width: 175px;
      max-height: 280px;
    }
  }

  @include min-screen(1024px) {
    width: 185px;
    height: 300px;
    margin-right: 20px;

    img {
      width: 185px;
      max-height: 300px;
    }
  }

  @include min-screen(1200px) {
    width: 175px;
    height: 280px;
    margin-right: 10px;

    img {
      width: 175px;
      max-height: 280px;
    }
  }
}
