.newArrivals {
  &-container {
    @include grid-span(3);
    @include add-grid(3);

    border-top: 2px solid #ed1c24;;
    padding-top: 10px;
    margin-top: 33px;
    min-height: 500px;

    h4 {
      display: inline-block;
      font-size: 20px;
      color: #ed1c24;
      margin: 5px 0 10px 0;
      @include Kievit-Medium;

      @include min-screen(768px) {
        width: 100%;
        display: block;
      }
    }
  }

  &-introText {
    @include Kievit-Book;
    font-weight: 400;
    font-size: 14px;
  }
}
