.newArrivals {
  &-container {
    @include grid-span(3);
    @include add-grid(3);

    // border-top: 2px solid $PRIMARY_COLOR;
    border-top: 2px solid #837e77;
    padding-top: 10px;
    min-height: 500px;

    h4 {
      font-size: 16px;
      color: #837e77;
      display: inline-block;
      margin: 0;
      @include Kievit-Medium;

      display: block;
    }
  }
}
