.PillButton {
  @include Kievit-Medium;
  letter-spacing: 0.05em;
  font-weight: 400;
  border-radius: 23px;
  background-color: #fff;
  border: 2px solid #837e77;
  display: inline-block;
  background-color: white;
  width: 40px;
  height: 40px;
  padding: 0;

  @include min-screen($tablet-portrait) {
    width: 130px;
    color: #837e77;
    background-color: #fff;
    border: 2px solid #837e77;
  }

  @include min-screen($tablet-landscape) {
    width: 150px;
  }

  .icon {
    display: none;
    padding: 0 0 0 15px;
    vertical-align: 7px;
    font-size: 16px;

    @include min-screen($tablet-portrait) {
      display: inline-block;
    }
  }

  svg {
    fill: #837e77;
  }

  &-title {
    display: none;
    font-size: 13px;
    text-transform: uppercase;
    vertical-align: 10px;

    @include min-screen($tablet-portrait) {
      display: inline-block;
    }
  }
}


.filters {

  &.false {
    background-color: $PRIMARY_COLOR;
    color: #fff;

    svg {
      fill: #fff;
    }

    @include min-screen($tablet-portrait) {
      color: #fff;
      background-color: #837e77;
    }
  }
}
