.sidebar {
  display: block;
  background-color: #ed1c24;
  text-transform: uppercase;
  @include Kievit-Medium;

  @include min-screen(1024px) {
    background-color: #fff;
  }

  &-browse {
    display: none;

    @include min-screen(1024px) {
      display: block;
      color: #5F5B54;
      text-align: right;
      text-decoration: none;
      margin: 30px 0 20px 0;
      font-size: 12px;
    }
  }

  &-landing {
    border-top-style: none;
    font-size: 20px;
    display: block;
    padding: 15px 10px;
    color: #fff;
    text-decoration: none;

    @include min-screen(1024px) {
      text-align: right;
      font-size: 22px;
      color: #5F5B54;
      background-color: #fff;
      padding: 15px 0;
      border-top: 2px solid #9c9890;
    }
  }
}
