/*
Import utils and fonts
*/
@import 'utils/mixins';
@import 'utils/colors';
@import 'utils/utils';
@import "utils/fonts";
@import 'utils/variables';
@import 'utils/animations';

/*
Import singularity and breakpoints
*/
@import "~singularitygs/stylesheets/singularitygs";
@import "~breakpoint-sass/stylesheets/breakpoint";

/*
Import Normalize and Grid settings for nyplHomepage App
*/
@import "utils/normalize";
@import "utils/gridSettings";

/*
Import style rules from NYPL React module components
*/
@import "~dgx-header-component/dist/styles/main";
@import '~dgx-react-footer/dist/styles/styles';

/*
Import style rules from App components
*/
@import 'components/Search';
@import 'components/Dropdown';
@import 'components/Isotopes';
@import 'components/NewArrivals';
@import 'components/PillButton';
@import 'components/PaginationButton';
@import 'components/ToggleDisplay';
@import 'components/Filter';
@import 'components/FilterList';
@import 'components/SelectedFilters';
@import 'components/FilterToggle';

// @include sgs-change('debug', true);
// .nyplNewArrivals {
//   @include background-grid($color: blue);
// }

.left-navigation {
  display: block;
  background-color: #ed1c24;
  text-transform: uppercase;
  @include Kievit-Medium;

  @include min-screen(768px) {
    background-color: #fff;
  }

  .browse-button {
    display: none;

    @include min-screen(768px) {
      display: block;
      color: #9c9890;
      text-align: right;
      text-decoration: none;
      padding-left: 44px;
      margin: 30px 0 20px 0;
      font-size: 13px;
    }
  }

  .landing-page-link {
    border-top-style: none;
    font-size: 20px;
    display: block;
    padding: 15px 10px;
    color: #fff;
    text-decoration: none;

    @include min-screen(768px) {
      text-align: right;
      font-size: 22px;
      color: #9c9890;
      background-color: #fff;
      padding: 15px 0;
      border-top: 2px solid #9c9890;
    }
  }
}

.main-content {
  @include min-screen(768px) {
    margin-top: 30px;
  }
}

#maincontent {
  position: relative;
  border-top: 60px solid transparent;
  margin: -27px 0 0;

  &:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    border-top: 2px solid #ed1c24;
  }
}
