

@import './utils/variables';

@import './components/Isotopes';
@import './components/DisplayBtns';
@import './components/Dropdown';
@import './components/Search';

@import "~dgx-header-component/dist/styles/main";
@import '~dgx-react-footer/dist/styles/styles';

.nyplNewArrivals {
  margin: 0 10px;
}

.pagination {
  display: block !important;
  text-align: center;
}

.pagination > li {
  display: inline-block !important;
}

.pagination .break a {
    cursor: default;
}
